/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
    color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
    color: #333;
    text-shadow: none; /* Prevent inheritence from `body` */
    background-color: #fff;
    border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
    height: 100%;
    background-color: lightcoral;
    <!--background-color: #fff;-->
}
body {
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
    display: table;
    width: 100%;
    height: 600px;
    background-color: #333;
    /*height: 100%; */
    /*min-height: 100%;*/
}
.site-wrapper-inner {
    display: table-cell;
    vertical-align: top;
}
.cover-container {
    margin-right: auto;
    margin-left: auto;
}

/* Padding for spacing */
.inner {
    padding: 30px;
}


/*
 * Header
 */
.masthead-brand {
    margin-top: 10px;
    margin-bottom: 10px;
}

.masthead-nav > li {
    display: inline-block;
}
.masthead-nav > li + li {
    margin-left: 20px;
}
.masthead-nav > li > a {
    padding-right: 0;
    padding-left: 0;
    font-size: 16px;
    font-weight: bold;
    color: #fff; /* IE8 proofing */
    color: rgba(255,255,255,.75);
    border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
    background-color: transparent;
    border-bottom-color: #a9a9a9;
    border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
    color: #fff;
    border-bottom-color: #fff;
}

@media (min-width: 768px) {
    .masthead-brand {
        float: left;
    }
    .masthead-nav {
        float: right;
    }
}


/*
 * Cover
 */

.cover {
    padding: 0 20px;
}
.cover .btn-lg {
    padding: 10px 20px;
    font-weight: bold;
}

/*
 * Affix and center
 */

@media (min-width: 768px) {
    /* Pull out the header and footer */
    .masthead {
        position: fixed;
        top: 0;
    }
    /* Start the vertical centering */
    .site-wrapper-inner {
        vertical-align: middle;
    }

}
/*Intro section*/
#intro {
    /*This is the main background on the header of the site*/
    background: #151515 url(../../images/intro-bg.jpg) no-repeat center bottom;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    min-height: 720px;
    display: table;
    position: relative;
    text-align: center;
}


.intro-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #111111;
    opacity: .50;
}

.intro-content {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    -webkit-transform: translateY(-2.1rem);
    -ms-transform: translateY(-2.1rem);
    transform: translateY(-2.1rem);
}
.intro-content h1 {
    color: #FFFFFF;
    font-family: "poppins-medium", sans-serif;
    font-size: 8.4rem;
    line-height: 1.071;
    max-width: 900px;
    margin-top: 0;
    margin-bottom: .6rem;
    margin-left: auto;
    margin-right: auto;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.intro-content h5 {
    color:steelblue;
    font-family: "poppins-bold", sans-serif;
    font-size: 2.3rem;
    line-height: 1.565;
    margin-bottom: 0;
    text-transform: uppercase;
    letter-spacing: .3rem;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}
.intro-content .intro-position {
    font-family: "poppins-light", serif;
    font-size: 1.7rem;
    line-height: 2.4rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
    color: #FFFFFF;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}
.intro-content .intro-position span {
    display: inline-block;
}
.intro-content .intro-position span::after {
    content: "|";
    text-align: center;
    display: inline-block;
    padding: 0 8px 0 14px;
    color: rgba(255, 255, 255, 0.3);
}
.intro-content .intro-position span:first-child::before {
    content: "|";
    text-align: center;
    display: inline-block;
    padding: 0 14px 0 8px;
    color: rgba(255, 255, 255, 0.3);
}
.intro-content .button {
    color: #FFFFFF !important;
    border-color: rgba(255, 255, 255, 0.3);
    height: 6rem !important;
    line-height: 5.4rem !important;
    padding: 0 3.5rem 0 3rem !important;
    margin-top: .6rem;
    font-size: 1.3rem;
    text-transform: uppercase;
    letter-spacing: .25rem;
}
.intro-content .button:hover, .intro-content .button:focus {
    border-color: steelblue;
}
.intro-content .button::after {
    display: inline-block;
    content: "\f107";
    font-family: fontAwesome;
    font-size: 1.6rem;
    line-height: inherit;
    text-align: center;
    position: relative;
    left: 1.2rem;
}

.section-intro {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 3.6rem;
    position: relative;
}

.section-intro h1 {
    font-family: "poppins-semibold", serif;
    font-size: 3.6rem;
    color: #313131;
    line-height: 1.25;
    margin-bottom: 1.2rem;
}
.section-intro h5 {
    color: #4d44cd;
    font-size: 1.6rem;
    line-height: 1.875;
    margin-bottom: 0.3rem;
    letter-spacing: .4rem;
}

@media only screen and (max-width:768px) {
    .section-intro {
        max-width: 650px;
    }
    .section-intro h1 {
        font-size: 3rem;
    }
}
@media only screen and (max-width:600px) {
    .section-intro h1 {
        font-size: 2.6rem;
    }
    .section-intro h5 {
        font-size: 1.5rem;
        letter-spacing: .3rem;
    }
}
@media only screen and (max-width:400px) {
    .section-intro h1 {
        font-size: 2.4rem;
    }
}
